<div class="jumbotron">
	<h1>Eat Da' Burger</h1>	
</div>
<div class="container">
	<div class="row">
		<div class='burger-list col-md-3 offset-md-3'>
			<h3>Burger Ready to Eat!</h3>
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							{{id}}. {{burger_name}}

							<form action="/{{id}}?_method=PUT" method='POST'>
								{{!-- <input type="hidden" name='devour' value="true"> --}}
								Date: {{createdAt}}
								<button type="submit">EAT!</button>
							</form>

						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class='burger-list col-md-3'>
			<h3>Burger Already Eaten!</h3>
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							<input type='text' name='name' placeholder='{{id}}. {{burger_name}}' readonly>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<br>

	<div class='row'>
		<div class='col-md-4 offset-md-4'>
			<h2>Create a new burger!</h2>
			<form class='create-update-form' action='/' method='POST'>
				<div class='form-group'>
					<label for='burg'>Burger Name:</label>
					<input type='text' id='burg' name='burger_name'>
				</div>
				<button type='submit'>Make Da' Burger</button>
			</form>
		</div>
	</div>
</div>